.PageContainer {
	overflow:hidden;
	background-color:#FFFFFF;
}

.s0 {
	white-space:pre;
	position:absolute;
	display:inline-block;
}
.s1 {
	border:0;
	margin:0;
	white-space:pre;
	position:absolute;
	display:block;
}
.trn_link {
	background-image:url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
	position:absolute;
}
.l0 { line-height:1.00; }
.fs2 { font-size:203.00px; }
.fs1 { font-size:215.00px; }
.fs3 { font-size:362.00px; }
.fs0 { font-size:418.00px; }
.f2 {
	font-weight:normal;
	font-style:normal;
	font-family:"f2generic";
}

.f0 {
	font-weight:normal;
	font-style:normal;
	font-family:"f0generic";
}

.f1 {
	font-weight:normal;
	font-style:normal;
	font-family:"f1generic";
}

